.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.form {
  padding: 32px;
  width: 320px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
   border: 2px solid black;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px;
  background: rgb(194, 194, 245);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
