name: Node.js CI Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Install & Test
    runs-on: ubuntu-latest

    steps:
      #  Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      #  Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Run tests
      - name: Run npm tests
        run: npm test
